:root {
  --color-cloud: #F4F4FD;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  font-weight: 400;
  font-size: inherit;
  line-height: 1.5;
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #fff;
  letter-spacing: .02em;
}

h1 {
  margin: 0;
  font-size: 3.5rem;
  line-height: 1.07;
  letter-spacing: .02em;
}

h2 {
  margin: 0;
  font-size: 2.25rem;
  line-height: 1.11;
  letter-spacing: .02em;
  text-transform: capitalize;
  color: #2e2f42;
}

h3 {
  margin: 0;
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: .02em;
  color: #2E2F42;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
  letter-spacing: .02em;
  color: #434455;
}

a {
  transition: background-color .25s ease-in;
}

a:hover,
a:focus {
  color: #404BBF;
}

button {
  cursor: pointer;
}

address {
  font-style: normal;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
}

.container { 
  max-width: calc(70.5rem + 30px);
  padding: 0 15px; 
  margin: 0 auto; 
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.header {
  position: sticky;
  top: 0;
  left: 0;
  background-color: #fff;
  border-bottom: 1px solid #e7e9fc;
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  margin-right: 76px;
  font-weight: 700;
  font-size: 1.125rem;
  font-family: 'Raleway', sans-serif;
  line-height: 1.17;
  letter-spacing: .03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.logo__span {
  color: #2e2f42;
}

.logo--white .logo__span {
  color: #f4f4fd;
}

.navigation {
  display: flex;
  align-items: center;
}

.navigation__list {
  display: flex;
  gap: 40px;
}

.navigation__item {}

.navigation__link {
  position: relative;
  display: flex;
  padding: 24px 0;
  font-weight: 500;
  color: #2e2f42;
}

.navigation__link::after {
  position: absolute;
  bottom: -1px;
  left: 0;
  display: block;
  width: 100%;
  height: 0;
  border-radius: 4px;
  background-color: currentColor;
  transition: height .25s ease-out;
  content: '';
}

.navigation__link:hover.navigation__link::after {
  height: 4px;
}

.address {}

.address__list {
  display: flex;
  gap: 40px;
}

.address__item {}

.address__link {}

.hero {
  padding: 188px 0;
  background-color: #2e2f42;
}

.hero__title {
  max-width: 496px;
  text-align: center;
  color: #ffffff;
  margin: 0 auto 48px;
}

.hero__action {
  display: block;
  margin: 0 auto;
  min-width: 169px;
  height: 56px;
  line-height: 1.5;
  letter-spacing: .04em;
  border-radius: 4px;
  border: none;
  transition: background-color .25s ease-out;
}

.hero__action {
  font-weight: 500;
  color: #fff;
  background-color: #4d5ae5;
  cursor: pointer;
}

.hero__action:hover,
.hero__action:focus {
  background-color: #404bbf;
}

.section {
  padding: 120px 0;
}

.section--background {
  background-color: #F4F4FD;
}

.section__title {
  margin-bottom: 72px;
  text-align: center;
}

.priorities {
  display: flex;
  gap: 24px;
}

.priorities__item {
  width: calc((100% - 3 * 24px) / 4);
}

.priorities__title {
  margin-bottom: .5rem;
}

.team {
  display: flex;
  gap: 24px;
}

.team__item {
  width: calc((100% - 3 * 24px) / 4);
  border-radius: 0px 0px 4px 4px;
  background-color: #fff;
}

.team__caption {
  padding: 32px 0;
}

.team__name {
  margin-bottom: 0.5rem;
  text-align: center;
}

.team__position {
  text-align: center;
}

.portfolio {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.portfolio__item {
  width: calc((100% - 48px) / 3);
}

.portfolio__caption {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.portfolio__title {
  margin-bottom: 8px;
}

.footer {
  padding: 100px 0;
  background-color: #2e2f42;
}

.footer .logo {
  margin-bottom: 16px;
  display: inline-block;
}

.footer__promote {
  --color-footer-text: var(--color-cloud);
  
  max-width: 264px;
  color: var(--color-footer-text);
}